html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  color: #000;
  background: #fff;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  font-family: "Microsoft YaHei", sans-serif, Tahoma, Arial;
}

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

input,
input[type=button],
input[type=reset],
input[type=submit] {
  resize: none;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
}

input,
select,
textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

del {
  text-decoration: line-through;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}

q:after,
q:before {
  content: '';
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

a:hover {
  text-decoration: underline;
}

a,
ins {
  text-decoration: none;
}

a {
  color: inherit;
}

a:active,
a:hover,
a:link,
a:visited {
  background: 0 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  text-decoration: none;
}
:root {
  --border-color: #999;
  --border-radius-size: 10px;
}

.border-all, .border-radius, .border-all-dashed, .border-radius-dashed, .border-top, .border-top-dashed, .border-bottom, .border-bottom-dashed, .border-left, .border-left-dashed, .border-right, .border-right-dashed {
  position: relative;
}

.border-all::after, .border-radius::after, .border-all-dashed::after, .border-radius-dashed::after, .border-top::after, .border-top-dashed::after, .border-bottom::after, .border-bottom-dashed::after, .border-left::after, .border-left-dashed::after, .border-right::after, .border-right-dashed::after {
  content: "";
  position: absolute;
  z-index: 999;
  border-color: var(--border-color);
  border-width: 0;
}

.border-all::after, .border-radius::after, .border-left::after, .border-right::after, .border-top::after, .border-bottom::after {
  border-style: solid;
}

.border-all-dashed::after, .border-radius-dashed::after, .border-left-dashed::after, .border-right-dashed::after, .border-top-dashed::after, .border-bottom-dashed::after {
  border-style: dashed;
}

.border-all::after, .border-radius::after, .border-all-dashed::after, .border-radius-dashed::after {
  top: 0;
  left: 0;
  width: calc(200% - 2px);
  height: calc(200% - 2px);
  -webkit-transform: scale3d(0.5, 0.5, 1) translate3d(-50%, -50%, 0);
          transform: scale3d(0.5, 0.5, 1) translate3d(-50%, -50%, 0);
  border-width: 1px;
}

.border-radius, .border-radius-dashed {
  border-radius: var(--border-radius-size);
}

.border-radius::after, .border-radius-dashed::after {
  border-radius: calc(var(--border-radius-size) * 2);
}

.border-top::after, .border-top-dashed::after, .border-bottom::after, .border-bottom-dashed::after {
  width: 100%;
  height: 1px;
  left: 0;
  -webkit-transform: scaleY(0.5) translateY(-50%);
          transform: scaleY(0.5) translateY(-50%);
}

.border-left::after, .border-left-dashed::after, .border-right::after, .border-right-dashed::after {
  height: 100%;
  width: 1px;
  top: 0;
  -webkit-transform: scaleX(0.5) translateX(-50%);
          transform: scaleX(0.5) translateX(-50%);
}

.border-left::after, .border-left-dashed::after {
  left: 0;
  border-left-width: 1px;
}

.border-right::after, .border-right-dashed::after {
  right: -1px;
  border-right-width: 1px;
}

.border-top::after, .border-top-dashed::after {
  top: 0;
  border-top-width: 1px;
}

.border-bottom::after, .border-bottom-dashed::after {
  bottom: -1px;
  border-bottom-width: 1px;
}

a {
  color: #555;
}

body {
  font-size: 16px;
  color: #555;
  background-color: #f9f9f9;
}

html {
  font-size: 8.40336vw;
}

@media screen and (min-width: 1190px) {
  html {
    font-size: 100px;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 26.89px;
  }
}

.center {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head .head-logo img {
  padding-top: -15px;
  height: 40px;
}

.head .head-nav {
  font-size: 14px;
}

.head .head-nav a {
  margin-left: 50px;
}

.banner {
  height: 4.78rem;
}

.banner .slide-wrap .slide-prev::before,
.banner .slide-wrap .slide-next::before {
  display: none;
}

.banner .slide-wrap .slide-prev::after,
.banner .slide-wrap .slide-next::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'iconfont';
  width: 2em;
  height: 2em;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-family: #f9f9f9;
  border-radius: 4px;
  font-size: 0.2rem;
}

.banner .slide-wrap .slide-prev::after {
  content: "\e61c";
}

.banner .slide-wrap .slide-next::after {
  content: "\e644";
}

.m-head,
.m-nav-wrap {
  position: fixed;
  visibility: hidden;
  left: -100%;
  top: 0;
}

@media (max-width: 750px) {
  .head {
    display: none;
  }
  body {
    padding-top: 70px;
  }
  .m-head {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*  position: fixed; */
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 60px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px #ccc;
            box-shadow: 0 0 5px #ccc;
  }
  .m-head .m-nav-show::before, .m-head .m-nav-show::after {
    content: "";
    width: 50%;
    height: 1px;
    background-color: #333;
  }
  .m-head .m-logo img {
    padding-top: -15px;
    display: block;
    height: 40px;
  }
}

/* .m-nav-wrap{

    visibility:visible;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:99999;
    background-color:rgba(0,0,0,.3);
   
    .m-nav{
        display:flex;
        flex-direction:column;
        width:60%;
         background-color:#fff; 
        }
   }
   
 */
/*# sourceMappingURL=style.css.map */