a {
  color: #555;
}

body {
  font-size: 16px;
  color: #555;
  background-color: #f9f9f9;
}

html {
  font-size: 8.40336vw;
}

@media screen and (min-width: 1190px) {
  html {
    font-size: 100px;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 26.89px;
  }
}

.center {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
}

.head {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.head .head-logo img {
  padding-top: -15px;
  height: 40px;
}

.head .head-nav {
  font-size: 14px;
}

.head .head-nav a {
  margin-left: 50px;
}

.banner {
  height: 4.78rem;
}

.banner .slide-wrap .slide-prev::before,
.banner .slide-wrap .slide-next::before {
  display: none;
}

.banner .slide-wrap .slide-prev::after,
.banner .slide-wrap .slide-next::after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'iconfont';
  width: 2em;
  height: 2em;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-family: #f9f9f9;
  border-radius: 4px;
  font-size: 0.2rem;
}

.banner .slide-wrap .slide-prev::after {
  content: "\e61c";
}

.banner .slide-wrap .slide-next::after {
  content: "\e644";
}

.m-head,
.m-nav-wrap {
  position: fixed;
  visibility: hidden;
  left: -100%;
  top: 0;
}

@media (max-width: 750px) {
  .head {
    display: none;
  }
  body {
    padding-top: 70px;
  }
  .m-head {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    /*  position: fixed; */
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
  }
  .m-head .m-nav-show::before, .m-head .m-nav-show::after {
    content: "";
    width: 50%;
    height: 1px;
    background-color: #333;
  }
  .m-head .m-logo img {
    padding-top: -15px;
    display: block;
    height: 40px;
  }
}

/* .m-nav-wrap{

    visibility:visible;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:99999;
    background-color:rgba(0,0,0,.3);
   
    .m-nav{
        display:flex;
        flex-direction:column;
        width:60%;
         background-color:#fff; 
        }
   }
   
 */
